---
let products = [];

try {
    const res = await fetch("http://localhost:4321/api/products"); // o tu URL base
    if (res.ok) {
        products = await res.json();
    } else {
        console.error("Error al cargar productos:", res.statusText);
    }
} catch (err) {
    console.error("No se pudo conectar con la API:", err);
}
---

<section>
    <div
        class="grid grid-cols-1 gap-6 lg:gap-y-24 md:grid-cols-2 lg:grid-cols-3 py-12"
    >
        {
            products.length === 0 ? (
                <p class="text-center text-gray-500">
                    No hay productos disponibles
                </p>
            ) : (
                products.map((product) => (
                    <figure class="relative">
                        <a
                            href={product.url || "#_"}
                            aria-hidden="true"
                            class="absolute inset-0"
                        />
                        <img
                            width="800"
                            height="800"
                            alt={product.title}
                            src={product.image}
                            class="w-full rounded-3xl shadow aspect-[12/9] object-cover object-center"
                        />
                        <div class="mt-2 flex justify-between px-6">
                            <div>
                                <p class="mt-1 text-sm font-medium text-base-900">
                                    {product.subtitle}
                                </p>
                                <h3 class="text-xs text-base-500">
                                    {product.title}
                                </h3>
                            </div>
                            <p class="text-base text-orange-600">
                                {product.price}
                            </p>
                        </div>
                    </figure>
                ))
            )
        }
    </div>
</section>
