---
let products = [];

try {
    const res = await fetch("http://localhost:4321/api/products");
    if (res.ok) {
        products = await res.json();
    } else {
        console.error("Error al cargar productos:", res.statusText);
    }
} catch (err) {
    console.error("No se pudo conectar con la API:", err);
}
---

<section>
    <div
        class="grid grid-cols-1 gap-6 lg:gap-y-24 md:grid-cols-2 lg:grid-cols-3 py-12"
    >
        {
            products.length > 0 ? (
                products.map((product) => (
                    <figure class="relative bg-white rounded-3xl shadow p-4 transition hover:scale-[1.02] duration-300">
                        <img
                            src={product.image}
                            alt={product.name}
                            class="w-full rounded-2xl aspect-square object-cover object-center"
                        />
                        <div class="mt-4 flex justify-between items-start">
                            <div>
                                <p class="text-sm text-gray-600">
                                    {product.description}
                                </p>
                                <h3 class="text-base font-semibold">
                                    {product.name}
                                </h3>
                                <p class="text-orange-600 font-bold mt-1">
                                    ${product.price}
                                </p>
                            </div>
                        </div>
                        <button
                            class="mt-4 w-full bg-orange-500 text-white py-2 rounded-full hover:bg-orange-600 duration-300"
                            onclick={`addToCart({ id: ${product.id}, name: '${product.name}', price: ${product.price} })`}
                        >
                            Añadir al carrito
                        </button>
                    </figure>
                ))
            ) : (
                <p class="text-center text-base-600 w-full">
                    No hay productos disponibles
                </p>
            )
        }
    </div>
</section>
